.mainContainer {
  background: linear-gradient(
    0deg,
    rgba(179, 246, 216, 0.2) 0%,
    rgba(82, 167, 193, 0) 100%
  );
  height: max-content;
  text-align: center;
  padding-bottom: 4rem;
}
.bgContainer {
  background: white !important;
  height: 100vh;
}
.heading {
  color: #131541;
  font-size: 3rem;
  font-weight: 600;
  line-height: normal;
  margin-top: 4rem;
}
.subText {
  color: #5b5d88;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding-top: 1rem;
}
.icon {
  color: #27ae60;
}
.button {
  border-radius: 8px;
  background: #0068b4;
  box-shadow: 0px 4px 16px 0px rgba(19, 21, 65, 0.24);
  padding: 0.5rem 2rem;
}
.searchContainer {
  margin-top: 2rem;
  box-shadow: 0px 0px 16px 0px rgba(12, 12, 12, 0.1);
}
.filteredJobs {
  padding: 2rem;
}
.filters {
  border-radius: 0.5rem;
  border: 1px solid #e6e7f5;
  background: #fff;
  padding: 1rem 1rem 2rem 1rem;
}
.cardHeading {
  color: #5b5d88;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.detailContainer {
  height: 100vh;
  background: #fcfffd;
}
.paddingContainer {
  padding: 2rem;
}
.jobDetailTitle {
  color: #131541;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.jobDetailCompany {
  color: #3f4159;
  font-size: 1.18rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.shortDetailDescription {
  color: #5b5d88;
  font-size: 1.18rem;
  font-style: normal;
  font-weight: 400;
  margin-top: 1rem;
  line-height: 160%;
}
.jobDetail {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}
.header {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
}
.headerText {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}
.icon {
  color: #27ae60;
}
.detailsLaterButton {
  border-radius: 0.5rem;
  border: 1px solid #0068b4;
  background: #fff;
  color: #0068b4;
  padding: 0.6rem 1rem;
}
.detailsSubmitButton {
  border-radius: 0.5rem;
  background: #0068b4;
  color: #fff;
  padding: 0.6rem 1rem;
}

@media (max-width: 786px) {
  .paddingContainer {
    padding: 1rem;
  }
  .header {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: flex-start;
  }
  .headerText {
    row-gap: 0.5rem;
  }
  .icon {
    height: 1rem !important;
    width: 1rem !important;
  }
  .jobTitle {
    font-size: 1.1rem;
  }
  .jobCompany {
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .jobDetailCompany {
    font-size: 0.9rem;
  }
  .shortDetailDescription {
    font-size: 1rem;
  }
  .mainContent {
    padding: 0 1rem !important;
  }
  .filteredJobs {
    padding: 0;
  }
}
